    @import "@/styles/helpers.scss";

    .see-portfolio-button__wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 1.6rem;
        box-sizing: border-box;
        z-index: 8;
        pointer-events: none;

        .button {
            animation-duration: 3s;
            animation-name: glow;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    @keyframes glow {
        from {
            filter: drop-shadow(0 0 1.5rem $blue);
        }

        to {
            filter: drop-shadow(0 0 3rem $blue);
        }
    }