@import "@/styles/helpers.scss";

.contact__wrapper {
    height: 100%;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 200vh;

    @include md {
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.block-1__wrapper {
    border-bottom: 1px solid $dark;
    padding: 0.8rem;
    order: 3;
}

.block-2__wrapper {
    border-bottom: 1px solid $dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-size: 1.6rem;
    padding: 0.8rem;

    @include sm {
        padding: 0 0.8rem 0.8rem 0.8rem;
    }

    order: 0;

}

.block-3__wrapper {
    border-bottom: 1px solid $dark;
    padding: 0.8rem;
    order: 2;

}

.block-4__wrapper {
    border-bottom: 1px solid $dark;
    padding: 0.8rem;

    @include sm {
        padding: 0 0.8rem 0.8rem 0.8rem;

    }

}

.social-links__wrapper {
    a {
        display: block;
        font-size: 1.6rem;
    }
}