@import "@/styles/helpers.scss";

.booking-card__wrapper {
    border: 1px solid $dark;
    padding: 0.4rem;
    color: $dark;
    width: 20rem;
    cursor: url("/pointer.svg") 0 0, pointer;
    height: fit-content;
    font-family: var(--nhFont);
    background-color: $light;
    transition: filter $fast;
    pointer-events: all;
    @include drop-shadow;
    text-align: center;

    @include xs {
        width: 25rem;
    }

    @include sm {
        width: 30rem;
    }

    @include md {
        width: 40rem;
    }

    input[type="radio"] {
        visibility: hidden;
        height: 0px;
        width: 0px;
        margin: 0;
        padding: 0;
        position: absolute;
    }

    &.selected {
        background-color: $blue;
        color: $light;
        border: 1px solid $light;
        filter: unset;

        .shoot-details__wrapper--underline {
            border-bottom: 1px solid $light;
        }
    }
}

.booking-card__container {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    align-items: center;

    img {
        user-select: none;
    }

    h4 {
        font-size: 2.5rem;
        font-family: var(--nhFont);
        font-weight: 400;

        @include sm {
            font-size: 3rem;
        }
    }
}