@import '_helpers.scss';
@import '_fonts.scss';

:root {
    --real-viewport-height: 100svh;
    --nav-height: 42px;
    --rem-size: 10px;
}

* {

    /* width */
    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: $light;
        border-left: 1px solid $blue;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $blue;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $blue;
    }

    /* IE and Edge */
    scrollbar-width: 0.5rem;
}

html {
    font-size: var(--rem-size);
    cursor: url("/cursor.svg") 0 0,
        default;



    &.--hide-scrollbar {

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

body {

    margin: 0px;
    background-color: $light;
    font-family: var(--nhFont);
    color: $dark;
    cursor: url("/cursor.svg") 0 0,
        default;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
    margin: 0;
}

h1 {
    font-family: var(--mFont);
}

a {
    text-decoration: none;
    color: unset;
    line-height: unset;
    position: relative;
    cursor: url("/pointer.svg") 0 0, pointer;
}

p,
a, span, li {
    font-size: 1.4rem;

    @include sm {
        font-size: 1.5rem;
    }

    @include md {
        font-size: 1.7rem;
    }
}

.page__wrapper {
    overflow: hidden;
    box-sizing: border-box;
    min-height: var(--real-viewport-height);
    z-index: 1;

    &.--hide-navbar {

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    &.--top-padding {
        padding-top: 10rem;
    }

    &.--fixed-height {
        padding-top: var(--nav-height);

        @include md {
            height: var(--real-viewport-height);
        }
    }

    &.--no-height {
        // height: 0px;
        // min-height: 0px;
    }
}

section,
div {
    z-index: 1;
}

#sanity {
    cursor: default;
}

.disable-preview__wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    z-index: 9999999999999;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
    background-color: $light;

    p {
        margin: 0;
        font-weight: 600;
    }
}

#sanity-visual-editing {
    div {
        font-size: 1.6rem !important;
    }
}