@import '_helpers.scss';
@import '_fonts.scss';

:root {
    --real-viewport-height: 100svh;
    --nav-height: 42px;
    --rem-size: 10px;
}

html {
    font-size: var(--rem-size);
    cursor: url("/cursor.svg") 0 0,
        default;
}

body {
    margin: 0px;
    background-color: $light;
    font-family: var(--nhFont);
    color: $dark;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-family: var(--mFont);
}

a {
    text-decoration: none;
    color: unset;
    line-height: unset;
    position: relative;
    cursor: url("/pointer.svg") 0 0, pointer;
}

.page__wrapper {
    overflow: hidden;
    box-sizing: border-box;

    &.top-padding {
        padding-top: 10rem;
    }

    &.--fixed-height {
        padding-top: var(--nav-height);
        height: var(--real-viewport-height);
    }

    &.--no-height {
        height: 0px;
    }
}

.see-portfolio__wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.8rem;
    box-sizing: border-box;
    z-index: 9;
}

address {
    font-style: normal;
    font-size: 1.6rem;
}

section,
div {
    z-index: 1;
}

#sanity {
    cursor: default;
}

.disable-preview__wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    z-index: 9999999999999;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
    background-color: $light;

    p {
        margin: 0;
        font-weight: 600;
    }
}