@import "@/styles/helpers.scss";

.shoot-info__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    box-sizing: border-box;
}

.shoot-info__container {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    @include md {
        flex-direction: unset;
    }
}

.shoot-details__wrapper {
    width: 100%;

    @include md {
        width: unset;
    }
    max-width: 400px;
}