@import "@/styles/helpers.scss";

.scrolling-images__wrapper {
    overflow: visible;
    @include spacer-large;

    &.--small {
        @include spacer-small;
    }
}

.scrolling-images__container {
    overflow: visible;
    height: 100%;
    white-space: nowrap;
    min-width: fit-content;
    display: flex;
    justify-content: safe center;

    .image__wrapper {
        position: relative;
        display: inline-block;
        object-fit: cover;
        margin-right: 1rem;
        @include drop-shadow;
        overflow: hidden;
    }

    &.--small {
        .image__wrapper {
            height: 15rem;

            @include md {
                height: 20rem;
            }
        }
    }

    &.--medium {
        .image__wrapper {
            height: 30rem;

            @include md {
                height: 50rem;
            }
        }
    }

    &.--large {
        height: 40rem;

        .image__wrapper {
            height: 60rem;
        }
    }


}