@import "@/styles/helpers.scss";

.scrolling-images__wrapper {
    margin-top: 0.8rem;
    overflow: visible;
    margin-bottom: 5rem;

    @include lg {
        margin-bottom: 15rem;

    }
}

.scrolling-images__container {
    overflow: visible;
    height: 100%;
    white-space: nowrap;
    min-width: fit-content;

    .image__wrapper {
        position: relative;
        display: inline-block;
        object-fit: cover;
        margin-right: 1rem;
        @include drop-shadow;
        overflow: hidden;

        img {
            // transition: filter $slow;
            filter: blur(10px);

            &.--unblur {
                filter: unset;
            }
        }
    }

    &.--small {
        .image__wrapper {
            height: 20rem;

            @include md {
                height: 40rem;
            }
        }
    }

    &.--medium {

        .image__wrapper {
            height: 30rem;

            @include md {
                height: 50rem;
            }
        }
    }

    &.--large {

        .image__wrapper {
            height: 70rem;
        }
    }


}