@import "@/styles/helpers.scss";

.scrolling-images__wrapper {
    margin-top: 0.8rem;
    overflow: visible;
    margin-bottom: 15rem;
}

.scrolling-images__container {
    overflow: visible;
    height: 100%;
    white-space: nowrap;
    min-width: fit-content;

    .image__wrapper {
        position: relative;
        height: 100%;
        width: 350px;
        display: inline-block;
        object-fit: cover;
        margin-right: 1rem;
    }
}

