@import "@/styles/helpers.scss";

.patch-logo {
    font-weight: normal;
    font-size: 3rem;
    height: fit-content;
    align-self: center;
    text-transform: uppercase;
    font-family: var(--mFont);
    position: relative;

    &:hover {
        font-weight: bold;
    }
}