@import "@/styles/helpers.scss";

nav {
    position: relative;
    align-self: center;
    justify-self: center;
    height: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    padding: 0.5rem 1rem;
    margin: 0;
    gap: 1rem;
    flex-direction: column;
    height: 100%;

    @include md {
        flex-direction: row;
        border: 1px solid $blue;
        background-color: $light-75;
    }

}

.nav-item {
    font-size: 3rem;
    list-style-type: none;
    text-transform: uppercase;

    @include md {
        font-size: 1.6rem;
    }

    a {
        text-decoration: none;
    }

    &:hover,
    &.active {
        font-weight: 500;
    }
}