@import "@/styles/helpers.scss";

.navbar {
    display: flex;
    width: 100%;
    min-height: 4.2rem;
    position: fixed;
    padding: 0.8rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 9;
    cursor: url("/pointer.svg") 0 0, pointer;

    @include md {
        cursor: url("/cursor.svg") 0 0,
        default;
    }
}

.mobile-menu-button__wrapper {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 0.8rem;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    span {
        font-size: 1.6rem;
    }

    div {
        max-width: 1.6rem;
    }

    @include md {
        display: none;
    }
}

.nav-logo__wrapper {
    position: absolute;
    left: 0;
    margin-left: 0.8rem;
    z-index: 2;
    color: $blue;
    transition: color $fast;

    &.mob-nav--visible {
        color: $light;

        @include md {
            color: $blue;
        }
    }
}

.bookings-button__wrapper {
    position: absolute;
    right: 0;
    margin-right: 0.8rem;
    display: none;

    @include md {
        display: block;
    }
}

.mob-nav {
    width: 100%;
    height: var(--real-viewport-height);
    position: absolute;
    top: 0;
    background-color: $blue;
    color: $blue;
    transition: color $fast;
    transform: translateY(-100%);

    &.--visible {
        color: $light;
    }

    @include md {
        height: unset;
        width: unset;
        position: relative;
        background-color: unset;
        transform: unset;

        &.--visible {
            color: $blue;
        }
    }
}

.bookings-nav-item {
    display: block;
    @include md {
        display: none;
    }
}