@import "@/styles/helpers.scss";

.creative-project-images__wrapper {
    position: relative;
    margin-bottom: 1rem;

    @include md {
        margin-bottom: 5rem;
    }


    .creative-project-images__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 95vw;

        @include sm {
            max-width: unset;
        }
        
        .image__wrapper {
            position: relative;
            flex: 1 1 40%;
            transition: flex 1s;
            height: min(30vh, 40rem);
            opacity: 0;
            // max-width: 50%;
            justify-self: center;

            @include md {
                flex: 1 25%;
                height: min(50vh, 55rem);

                &:hover {
                    flex: 1 40%;
                }
            }

            @include lg {
                height: min(75vh, 80rem);

            }

            &.sized-image {
                max-width: 100%;

                @include md {
                    flex: unset;
                }
            }

            img {
                position: relative;
                object-fit: cover;
            }
        }
    }
}