@import "@/styles/helpers.scss";



.creative-project-accordion__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.5rem 1rem;
    max-width: 120rem;
    margin: 0 auto;

    @include md {
        padding: 5rem 1rem;
    }
}

.creative-project-accordion__header {
    display: flex;
    justify-content: space-between;
    cursor: url("/pointer.svg") 0 0, pointer;
    align-items: center;
    gap: 0.4rem;

    button {
        font-weight: 100 !important;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 5rem;
        line-height: 1.67rem;
        min-width: 3rem;
        max-width: 3rem;
        height: 3rem;

        @include md {
            font-size: 10rem;
            line-height: 4rem;
            min-width: 6rem;
            max-width: 6rem;
            height: 6rem;
            user-select: none;
        }
    }

    .button {
        background-color: transparent;
        border: none;
        transition: background-color 0.5s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    h4 {
        font-weight: 400;
        font-family: var(--mFont);
        text-transform: uppercase;
        font-size: 2.5rem;

        @include xs {
            font-size: 3.5rem;
        }

        @include sm {
            font-size: 4.25rem;
        }

        @include md {
            font-size: 5rem;
        }
    }
}

.creative-project-accordion-content__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid $slow;
    box-sizing: border-box;

    .creative-project-accordion-content__container {
        min-height: 0;
        transition: visibility 1s, opacity 1s;
        visibility: hidden;
        margin: 0;
        font-size: 1.6rem;
        opacity: 1;
        box-sizing: border-box;


        .text__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 2rem;
            flex-direction: column;

            @include md {
                flex-direction: row;
            }
            box-sizing: border-box;

        }

        .info-text__container {
            max-width: 120rem;
            font-size: 1rem;
            box-sizing: border-box;


            @include md {
                font-size: 1.6rem;
            }
        }

        &.expanded {
            grid-template-rows: 1fr;
            visibility: visible;
            opacity: 1;
        }
    }

    &.expanded {
        grid-template-rows: 1fr;
        visibility: visible;
        opacity: 1;
    }
}