@import "@/styles/helpers.scss";

.creative-project-images__wrapper {
    position: relative;
    margin-bottom: 1rem;

    @include md {
        margin-bottom: 5rem;
    }


    .creative-project-images__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: min(50vh, 50rem);
        gap: 1rem;
        max-width: 95vw;

        @include sm {
            max-width: unset;
        }

        @include lg {
            height: min(75vh, 80rem);
        }

        .image__wrapper {
            position: relative;
            flex: 1 1 40%;
            transition: flex 1s;
            opacity: 0;

            @include md {
                flex: 1 25%;

                &:hover {
                    flex: 1 40%;
                }
            }

            &.sized-image {
                max-width: 100%;

                @include md {
                    flex: unset;
                }
            }

            img {
                position: relative;
                object-fit: cover;
            }
        }
    }
}