@import "@/styles/helpers.scss";

.button {
    @include unstyle-button;
    position: relative;
    padding: 0.5rem 1rem;
    border: 1px solid $blue;
    color: $blue;
    background-color: $light-75;
    backdrop-filter: blur(10px);
    font-size: 1.6rem;
    cursor: pointer;
    height: fit-content;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    width: fit-content;

    &:hover,
    &.invert {
        background-color: $blue;
        color: $white;
        font-weight: bold;   
    }

    &.bold {
        font-weight: bold;
    }

    &.inactive {
        color: $mid-grey;
        border-color: $mid-grey;
        cursor: unset;

        &:hover {
            background-color: unset;
            font-weight: unset;
        }
    }
}