@import "@/styles/helpers.scss";

.button {
    @include unstyle-button;
    position: relative;
    padding: 0.5rem 1rem;
    border: 1px solid $blue;
    color: $blue;
    background-color: $light;
    font-size: 1.6rem;
    cursor: pointer;
    height: fit-content;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;

    &:hover,
    &.invert {
        background-color: $blue;
        color: $white;
        font-weight: bold;   
    }

    &.bold {
        font-weight: bold;
    }
}