@import "@/styles/helpers.scss";

.column-text__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.column-text__container {
    display: flex;
    gap: 0.8rem;
    width: 1600px;
    font-size: 1.6rem;
    padding: 0.8rem;
    flex-flow: column;
    justify-content: center;

    p {
        width: 100%;
    }

    @include xs {
        gap: 0.8rem;
    }

    @include sm {
        gap: 1.2rem;
        flex-flow: row;

        p {
            width: 33.3%;
        }
    }

    @include md {
        gap: 3.2rem;
    }

    &.large-text {
        font-size: 2rem;
        @include md {
            font-size: 3rem;
        }

        p {
            margin: 1rem 0;
            @include md {
                margin: 2rem 0;
            }
        }
    }

}