@import "@/styles/helpers.scss";

.column-text__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.column-text__container {
    display: flex;
    gap: 0.8rem;
    width: 1600px;
    font-size: 1.6rem;
    padding: 0.8rem;
    flex-flow: column;


    @include xs {
        gap: 1.6rem;
    }

    @include sm {
        gap: 2rem;
        flex-flow: row;
    }

    @include md {
        gap: 3.2rem;
    }

    p {
        width: fit-content;
        flex: 1;
    }
}