@import "@/styles/helpers.scss";

.column-text__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include spacer-small;
}

.column-text__container {
    display: flex;
    gap: 0.8rem;
    width: 1600px;
    font-size: 1rem;
    padding: 0.8rem;
    flex-flow: column;
    justify-content: center;

    p {
        margin: 1rem 0;
        max-width: 100%;

        @include md {
            margin: 2rem 0;
        }
    }

    @include xs {
        gap: 0.8rem;
    }

    @include sm {
        gap: 1.2rem;
        flex-flow: row;

        p {
            max-width: 33.3%;
        }
    }

    @include md {
        gap: 3.2rem;
    }

    &.large-text {
        p,
        h3, span {
            margin: 1rem 0;
            font-weight: 300;
            font-size: 2rem;
            text-align: center;
            line-height: 1.6rem;

            @include md {
                font-size: 3rem;
                text-align: left;
                margin: 2rem 0;
            }
        }
    }

}