@import "@/styles/helpers.scss";

.heading__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    @include spacer-large;
}

.heading__container {

    h1,
    h2,
    h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        color: $blue;
        font-size: 6rem;

        @include md {
            font-size: 8rem;

        }

    }
}