@import "@/styles/helpers.scss";

.heading__wrapper {
    width: 100%;
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
}

.heading__container {
    h1, h2, h3 {
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: normal;
        color: $blue;

    }
}