@import "@/styles/helpers.scss";

.tagline__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    position: relative;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    box-sizing: border-box;

    @include lg {
        margin-bottom: 15rem;
    }
}

.tagline__container {
    max-width: 1200px;

    h2 {
        font-weight: 300;
        font-size: 3rem;
        text-align: center;

        @include md {
            font-size: 5rem;
        }
    }
}